{
   "environments": {
         "dev": {
            "baseUrl": "https://api.github.com",
            "owner": "<owner>",
            "token": "<token>",
            "defaultBranch": "main",
            "targetRepo": "<targetRepo>"
        }
   }
}
