{
   "environments": {
         "dev": {
            "BASE_URL": "https://api.github.com",
            "OWNER": "<OWNER>",
            "TOKEN": "<TOKEN>",
            "DEFAULT_BRANCH": "main",
            "TARGET_REPO": "<TARGET_REPO>"
        }
   }
}
